---
import Layout from "@/layouts/Layout.astro";
const title = "";
const description = "";
const og_image = "";
---

<Layout title={title} , description={description} og_image={og_image}>
	<main>
	</main>
</Layout>
