---
import { Image } from 'astro:assets'
import Layout from '@/layouts/Layout.astro'
import MV from '@/components/Mv.astro'
import '@/scss/subpage.scss'
import dayjs from 'dayjs';
//microCMS呼び出し
import { getNews } from '@/lib/microcms'
const response = await getNews({ fields: ['id', 'title', 'date'] })
// dateプロパティをもとにオブジェクトを降順に並び替える
response.contents.sort((a, b) => new Date(b.date).getTime() - new Date(a.date).getTime());
const title = '更新情報 | 早稲田コンピュータ研究会・WINC Webチーム'
const description = 'Webチーム公式サイトの更新情報一覧です。過去に更新した情報はこちらからアクセスできます。'
const og_image = ''
---

<Layout title={title} , description={description} , og_image={og_image}>
  <main id="works-list" class="p-works-list sub-page">
    <MV
      title="更新情報"
      bgImg="/assets/images/works.JPG"
      imgClass="web-team__mv__works-bg"
      items={[
        { text: 'TOP', link: '/' },
        { text: '更新情報', link: '' },
      ]}
    />
    <section>
      <div class="l-container">
        <ul class="p-news__wrapper">
          {
            response.contents.map((content: any) => (
              <li>
                <p>{dayjs(content.date).format('YYYY/MM/DD')}</p>
                <a href={'/news/' + content.id} class="hover__opacity">
                  {content.title}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </section>
  </main>
</Layout>
<style></style>
