---

---

<div class="blog-author">
  <div class="blog-author__profile">
    <img src="/assets/images/blog-bg.webp" />
    <div class="blog-author__detail">
      <h4>田中太郎</h4>
      <a href=""><img src="" alt=""></a>
      <a href=""><img src="" alt=""></a>
    </div>
  </div>
  <p>
    テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
  </p>
</div>
