---
const { title, bgImg, imgClass, items } = Astro.props
---

<ul class="web-team__breadcrumb">
  {
    items.map((i) => {
      return (
        <li>
          <a href={i.link} class="hover__opacity"> {i.text}</a>
        </li>
      )
    })
  }
</ul>
