---
import { Image } from 'astro:assets'
import webteamlogo from '@/assets/images/webteam_logo.webp'
import "@/scss/styles.scss"
---

<footer>
    <div class="flexbox-top">
      <div class="flexbox-top__buttonwrapper"><a href="" class="hover__thick">TOP</a></div>
      <div class="flexbox-top__buttonwrapper"><a href="" class="hover__thick">Webチームの一年</a></div>
      <div class="flexbox-top__buttonwrapper"><a href="" class="hover__thick">得られる経験</a></div>
      <div class="flexbox-top__buttonwrapper"><a href="" class="hover__thick">製作実績</a></div>
      <div class="flexbox-top__buttonwrapper"><a href="" class="hover__thick">案件製作</a></div>
      <div class="flexbox-top__buttonwrapper"><a href="" class="hover__thick">ブログ</a></div>
      <div class="flexbox-top__buttonwrapper"><a href="" class="hover__thick">更新情報一覧</a></div>
      <div class="flexbox-top__buttonwrapper flexname">
      <p>© 2024 Copyright: </p>
      <a href="" >コンピュータ研究会・WINC</a></div>
    </div>
      <div class="flexbox-bottom">
        <p>早稲田コンピュータ研究会　<br class="sp-br">WINC</p>
        <Image
         src={webteamlogo}
         alt={""}
        />
      </div>
</footer>
