---
import '@/scss/nav.scss'
import { Image } from 'astro:assets'
import logo from '@/assets/images/webteam_logo_name.webp'
---

<header id="web-team-header" class="p-web-team-header">
  <a href="/" class="p-web-team-header__logo"><Image src={logo} alt="" /></a>
  <nav>
    <ul>
      <li><a href="">Webチームの一年</a></li>
      <li><a href="">得られる経験</a></li>
      <li><a href="">制作実績</a></li>
      <li><a href="">案件制作</a></li>
      <li><a href="">ブログ</a></li>
    </ul>
  </nav>
  <div class="p-web-team-header__blocks">
      <div class="p-web-team-header__cta">
        <a href=""><p>入会はこちら</p></a>
      </div>
      <div class="p-web-team-header__contact">
        <a href=""><p>お問い合わせ</p></a>
      </div>
  </div>
</header>
