---
import { Image } from 'astro:assets'
import logo from '@/assets/images/webteam_logo_name.webp'
import "@/scss/styles.scss"
---

<header class="web-team__header">
  <a href="/" class="web-team__header__logo"><Image src={logo} alt="" /></a>
  <nav>
    <ul>
      <!-- <li><a href="" class="hover__underline">Webチームの一年</a></li> -->
      <!-- <li><a href="" class="hover__underline">得られる経験</a></li> -->
      <li><a href="/works" class="hover__underline">制作実績</a></li>
      <!-- <li><a href="" class="hover__underline">案件制作</a></li> -->
      <li><a href="/posts/" class="hover__underline">ブログ</a></li>
    </ul>
    <div class="web-team__header__blocks">
        <div class="web-team__header__cta">
          <a href="https://secure.register.winc.ne.jp/" target="_blank" rel="noopener"><p>入会はこちら</p></a>
        </div>
        <div class="web-team__header__contact">
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSd77gukiHN_CpEvbhcMd7awd3VZqvx-f-I2g6kpYK2hUVhHxA/viewform" target="_blank" rel="noopener"><p>お問い合わせ</p></a>
        </div>
    </div>
  </nav>
</header>
