---
import { Image } from 'astro:assets'
import logo from '@/assets/images/webteam_logo_name.webp'
import "@/scss/styles.scss"
---

<header class="web-team__header">
  <a href="/" class="web-team__header__logo"><Image src={logo} alt="" /></a>
  <nav>
    <ul>
      <li><a href="">Webチームの一年</a></li>
      <li><a href="">得られる経験</a></li>
      <li><a href="/works">制作実績</a></li>
      <li><a href="">案件制作</a></li>
      <li><a href="/posts/">ブログ</a></li>
    </ul>
    <div class="web-team__header__blocks">
        <div class="web-team__header__cta">
          <a href=""><p>入会はこちら</p></a>
        </div>
        <div class="web-team__header__contact">
          <a href=""><p>お問い合わせ</p></a>
        </div>
    </div>
  </nav>
</header>
