---
const { title } = Astro.props;
---

<div id="mv" class="p-mv">
  <div class="p-mv__bg"><img src="/src/assets/images/works.jpg" /></div>
  <ul>
    <li><a href="">TOP</a></li>
    <li><a href="">制作実績</a></li>
    <li><a href="">天文同好会WAXA Webサイト制作</a></li>
  </ul>
  <h1>{title}</h1>
</div>
