---
import { Post } from '../lib/interfaces.ts'
import { filePath } from '../lib/blog-helpers'
import { getPostLink } from '../lib/blog-helpers.ts'

export interface Props {
  post: Post
  enableLink: boolean
}

const { post, enableLink = true } = Astro.props

let image = '/assets/images/webteam_banner.webp'
if (post.FeaturedImage && post.FeaturedImage.Url) {
  if (import.meta.env.DEV) {
    image = post.FeaturedImage.Url
  } else {
    image = filePath(new URL(post.FeaturedImage.Url))
  }
}
---

{
  enableLink && image ? (
    <div class="post-featured-image hover__opacity">
      <a href={getPostLink(post.Slug)}>
        <img src={image} alt="Featured image of the post" />
      </a>
    </div>
  ) : (
    <div class="post-featured-image">
      <img src={image} alt="Featured image of the post" />
    </div>
  )
}
