---
import { Post } from '../lib/interfaces.ts'
import { getDateStr } from '../lib/blog-helpers.ts'

export interface Props {
  post: Post
}
function formatDate(dateString) {
  return dateString.replace(/-/g, '.');
}
const { post } = Astro.props
const formattedDate = formatDate(post.Date);
---

<div class="post-date">
  {formattedDate ? formattedDate : ''}
</div>