---

---

<div class="toc"></div>

<script>
  import * as tocbot from 'tocbot'

  tocbot.init({
    tocSelector: '.toc', // 目次を追加するクラス名
    contentSelector: '.blog-content__container', // 目次を取得するコンテンツ
    headingSelector: 'h3, h4, h5', // 目次として取得する見出しタグ
    headingsOffset: 109,
    scrollSmoothOffset: -109,
    onClick: function (e) {},
  })
</script>
