@charset "UTF-8";
@use './variables' as *;

/* ------------------- 共通要素ここから ------------------- */

.l-container {
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 15px;
}

p,
h1,
h2,
h3,
h4,
h5 {
  color: #000;
  font-style: normal;
  line-height: 172.3%; /* 24.122px */
  font-weight: 500;
}
p,
a {
  font-family: 'Noto Sans JP';
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Inter Variable', sans-serif;
}

section {
  padding: 20px 0;
}

.web-team {
  &__header {
    height: 109px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    &__logo {
      display: block;
    }
    img {
      width: 250px;
      object-fit: contain;
      margin-left: 22px;
      display: block;
    }
    nav {
      display: flex;
      align-items: center;
      ul {
        display: flex;
        li {
          margin: 0 15px;
          a {
            color: #000;
            font-size: 18px;
            font-weight: 400;
            line-height: normal;
            font-weight: 500;
            font-style: normal;
          }
        }
      }
    }
    &__blocks {
      display: flex;
    }
    &__cta {
      a {
        display: block;
        width: 147px;
        height: 112px;
        padding-top: 40px;
        background-color: #f2b551;
        p {
          color: #fff;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-align: center;
        }
      }
    }
    &__contact {
      a {
        display: block;
        width: 147px;
        height: 112px;
        padding-top: 40px;
        background-color: #518ef2;
        p {
          color: #fff;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-align: center;
        }
      }
    }
  }
  @media (max-width: $breakpointMobile) {
    &__header {
      display: none;
    }
  }

  &__mv {
    height: 370px;
    position: relative;
    &__bg {
      position: absolute;
      height: 370px;
      width: 100%;
      opacity: 0.3;
      z-index: -10;
      img {
        width: 100%;
        height: 370px;
        object-fit: cover;
      }
    }
    ul {
      position: absolute;
      top: 10px;
      left: 21px;
      padding: 7px;
      display: flex;
      background-color: #518ef299;
      width: fit-content;
      li {
        color: #fff;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        &::before {
          content: '>';
          display: inline-block;
          margin: 0 10px;
        }
        &:first-child {
          &::before {
            content: '';
            margin: 0;
          }
        }
        a {
          &:hover {
            color: #518ef2;
            transition: all 0.5s 0s ease;
          }
        }
      }
    }
    h1 {
      color: #518ef2;
      font-family: 'Heebo Variable', sans-serif;
      font-style: italic;
      font-size: 48px;
      font-weight: 700;
      position: absolute;
      top: 176px;
      background-color: #fff;
      min-width: 719px;
      text-align: center;
      padding: 0 24px;
      line-height: 1.8;
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 87px;
        background-color: #518ef2;
        left: 14px;
        top: 14px;
        z-index: -1;
      }
    }
  }
  @media (max-width: $breakpointMobile) {
    &__mv {
      height: 196px;
      position: relative;
      &__bg {
        img {
          height: 196px;
        }
      }
      ul {
        top: 8px;
        left: 13px;
        padding: 3px;
        li {
          font-size: 10px;
          &::before {
            margin: 0 10px;
          }
          &:first-child {
            &::before {
            }
          }
          a {
            &:hover {
            }
          }
        }
      }
      h1 {
        font-size: 20px;
        top: 103px;
        min-width: 171px;
        padding: 0 24px;
        line-height: 1.8;
        &::after {
          height: 35px;
          left: 4px;
          top: 4px;
        }
      }
    }
  }

  &__button {
    display: block;
    width: fit-content;
    height: 47px;
    text-align: center;
    padding: 8px 25px 0 25px;
    margin: 0 auto;
    flex-shrink: 0;
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 172.3%; /* 31.014px */
    &.--yellow {
      background-color: #f2b551;
    }
    &.--blue {
      background-color: #518ef2;
    }
  }
}

/* ------------------- 共通要素ここまで ------------------- */
/* ------------------- Webチームブログここから ------------------- */

.p-topblog {
  margin-bottom: 5%;
  &__backimg {
    background-image: url('@/assets/images/dummy.webp');
    background-size: cover;
    height: 624px;
    margin-bottom: 5%;
  }
  span {
    font-size: 48px;
    font-weight: 400;
    background-color: white;
    margin-top: 353px;
    color: #518ef2;
  }
  &__flexbox {
    display: flex;
    justify-content: center;
    h1 {
      font-size: 40px;
      font-weight: 600;
      color: #518ef2;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 1%;
      margin-right: 1%;
    }
    p {
      margin-top: 4%;
      font-size: 13px;
      font-weight: 700;
    }
    img {
      height: 340px;
      width: 500px;
      margin-left: 2%;
    }
  }
  h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    color: #518ef2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__updateview {
    margin-top: 5%;
    &__wrappercards {
      margin-bottom: 5%;

      &__card {
        padding-bottom: 2%;
        width: 90%;
        margin: 0 auto;
        border-bottom: 1px solid #929292;
        &__date {
          padding-bottom: 1%;
        }
        &__txt {
          padding-top: 1%;
          color: #424aff;
        }
      }
    }
  }
}

/* ------------------- topblogここまで ------------------- */
/* ------------------- activitiesここから ------------------- */

.activities__wrapper {
  margin: 0 auto;
  width: 100%;
  &__ttl {
    display: flex;
    justify-content: space-between;
    h3 {
      font-size: 200%;
      font-weight: 600;
      color: #518ef2;
    }
    p {
      font-size: 50px;
      font-weight: 500;
      color: #518ef2;
    }
  }
}

.activities__topcard {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  &__txt {
    font-weight: 500;
    font-size: 83%;
  }
}

.activities__topcard__txtwrapper {
  position: relative;
}

.activities__topcardttl {
  font-weight: 400;
  font-size: 140%;
  margin-bottom: 2%;
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
}

.activities__topcardttl::before {
  position: absolute;
  content: '';
  height: 1px;
  flex-grow: 1;
  background-color: #518ef2;
  width: 50%;
  left: -51%;
}
.activities__topcardttl::after {
  position: absolute;
  content: '';
  height: 1px;
  flex-grow: 1;
  background-color: #518ef2;
  width: 90%;
  left: 20%;
}

.activities__topcardttl::after {
  margin-left: 3%;
}

.middlecardnumber {
  position: absolute;
  font-size: 50px;
  font-weight: 500;
  color: #518ef2;
  top: -50%;
  left: 2%;
}

.activities__middlecard__flexbox {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 10%;
  margin-bottom: 10%;
  justify-content: space-around;
  &__imgwrapper {
    &__up {
      display: flex;
      justify-content: space-around;
      margin-bottom: 5%;
      width: 120%;
      img {
        margin-left: 1%;
        margin-right: 1%;
      }
    }
    &__down {
      margin-top: 5%;
      display: flex;
      justify-content: space-around;
      img {
        margin-left: 20%;
      }
    }
  }
  &__ttl {
    position: absolute;
    top: -30%;
    left: 0%;
    font-size: 150%;
    font-weight: 400;
    display: flex;
    align-items: center;
    width: 120%;
  }
  &__txt {
    margin-top: 2%;
    font-weight: 500;
    font-size: 83%;
  }
}

.activities__middlecard__flexbox__ttl::before {
  content: '';
  height: 1px;
  flex-grow: 1;
  width: 20%;
  background-color: #518ef2;
}

.activities__middlecard__flexbox__ttl::after {
  content: '';
  height: 1px;
  flex-grow: 2;
  width: 10%;
  background-color: #518ef2;
}

.activities__middlecard__flexbox__ttl::before {
  margin-right: 1%;
}

.activities__middlecard__flexbox__ttl::after {
  margin-left: 1%;
}

.bottomcardnumber {
  position: absolute;
  font-size: 50px;
  font-weight: 500;
  color: #518ef2;
  text-align: right;
  top: -20%;
  left: 93%;
}

.activities__bottomcard {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding-bottom: 5%;
  &__cardttl {
    position: relative;
    padding-bottom: 5%;
    font-weight: 400;
    font-size: 150%;
    display: flex;
    align-items: center;
    width: 120%;
  }
  &__txt {
    font-weight: 500;
    font-size: 83%;
  }
  img {
    width: 390px;
    height: 250px;
    margin-left: 5%;
  }
  &__triangle-button__wrapper {
    text-align: right;
    padding-top: 10%;
  }
}

.activities__bottomcard__cardttl::before {
  content: '';
  height: 1px;
  flex-grow: 1;
  width: 10%;
  background-color: #518ef2;
  position: absolute;
  left: -11%;
}

.activities__bottomcard__cardttl::after {
  content: '';
  height: 1px;
  flex-grow: 2;
  width: 5%;
  background-color: #518ef2;
}

.activities__bottomcard__cardttl::before {
  margin-right: 1%;
}

.activities__bottomcard__cardttl::after {
  margin-left: 1%;
}

.triangle-button__wrapper {
  text-align: right;
  padding-top: 5%;
  position: absolute;
  bottom: 0;
  left: 84%;
}

.triangle-button__blue {
  position: relative;
  padding: 0px 0px 0px 1em;
  font-weight: 500;
  font-size: 15px;
}

.triangle-button__white {
  position: relative;
  padding: 0px 0px 0px 1em;
  font-weight: 500;
  font-size: 15px;
}

.triangle-button__blue::before {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  width: 0px;
  height: 0px;
  border: 0.3em solid transparent;
  border-left: 0.4em solid #518ef2;
  content: '';
}

.triangle-button__white::before {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  width: 0px;
  height: 0px;
  border: 0.3em solid transparent;
  border-left: 0.4em solid red;
  content: '';
}

.activities__flexbox__imgwrapper {
  display: flex;
  width: 48%;
  margin-left: 4%;
  &__row {
    display: row;
  }
  &__triangle-button__wrapper {
    padding-top: 32%;
  }
}

.PC-img {
  width: 387px;
  height: 200px;
  padding-right: 5%;
  padding-top: 1%;
}

.SP-img {
  width: 140px;
  height: 250px;
  padding-top: 0;
}

.vertically__long {
  width: 80px;
  height: 120px;
}

.horizontally__long {
  width: 120px;
  height: 80px;
}

/* ------------------- activitiesここまで------------------- */
/* ------------------- teamcharacteristicここから ------------------- */

.p-teamcharacteristic {
  margin-bottom: 5%;
  h4 {
    display: inline;
    background-color: #518ef2;
    font-weight: 400;
    font-size: 180%;
    color: white;
    padding: 0 1%;
    margin-left: 5%;
  }
}

.left {
  margin-top: 13%;
}

.center {
  margin-top: 8%;
}

.right {
  margin-top: 3%;
}

.p-teamcharacteristic__cardwrapper {
  display: flex;
  justify-content: center;
  &__card {
    position: relative;
    width: 30%;
    height: 300px;
    margin-right: 2%;
    margin-left: 2%;
    box-shadow: 30px 30px #518ef299;
    &__number {
      position: absolute;
      font-weight: 400;
      font-size: 120%;
      background-color: #518ef2;
      width: 50px;
      height: 50px;
      top: -10%;
      left: -5%;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        font-weight: 500;
        font-size: 120%;
        color: white;
      }
    }
    img {
      margin: 0 auto;
      width: 100px;
      width: 100px;
    }
    &__ttl {
      text-align: center;
      color: #518ef2;
      font-weight: 600;
      font-size: 120%;
    }
    &__txt {
      font-weight: 500;
      font-size: 90%;
      padding-left: 5%;
      padding-right: 5%;
    }
  }
}

/* ------------------- teamcharacteristicここまで ------------------- */
/* ------------------- scheduleここから------------------- */
.p-schedule__ttl {
  font-size: 150%;
  font-weight: 400;
  color: #518ef2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-schedule__ttl::before {
  content: '';
  height: 1px;
  flex-grow: 2;
  background-color: #518ef2;
}

.p-schedule__ttl::after {
  content: '';
  height: 1px;
  flex-grow: 1;
  background-color: #518ef2;
}

.p-schedule__ttl::before {
  margin-left: 1%;
}

.p-schedule__ttl::after {
  margin-right: 1%;
}
/* ------------------- scheduleここまで------------------- */
/* ------------------- bloglistここから ------------------- */
.p-blogList {
  h6 {
    color: white;
    background-color: #518ef2;
    box-shadow: 10px 10px #c5deff;
    display: inline;
    width: 50%;
    height: 20%;
    font-weight: 600;
    font-size: 40px;
  }
  &__wrapper {
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__card {
    display: block;
    width: 330px;
    height: 462px;
    border: #518ef2 1px solid;
    &__text {
      padding: 7px;
    }
    img {
      aspect-ratio: 16/9;
      object-fit: cover;
    }
    h5 {
      font-size: 14px;
      line-height: 172.3%; /* 24.122px */
    }
    h4 {
      font-size: 18px;
      line-height: 172.3%; /* 31.014px */
    }
    p {
      color: #222;
      font-size: 16px;
      line-height: 172.3%; /* 27.568px */
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 7;
    }
  }
}

/* ------------------- Webチームブログここまで ------------------- */

/* ------------------- 制作実績セクションここから ------------------- */
/* ------------------- 制作実績セクションここまで ------------------- */

/* ------------------- 制作実績一覧ここから ------------------- */
.p-works-list {
  &-mv {
    h1 {
      color: #000;
      font-size: 38px;
      font-weight: 400;
      line-height: normal;
    }
  }
  &-cards {
    h2 {
      color: #000;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      place-items: center;
      li {
        max-width: 380px;
        a {
          color: #000;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-top: 17px;
          img {
            aspect-ratio: 16 / 9;
            object-fit: cover;
          }
        }
        p {
          color: #fff;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          border-radius: 30px;
          background: rgba(81, 142, 242, 0.6);
          width: fit-content;
          padding: 8px 12px;
          margin-top: 10px;
        }
      }
    }
  }
}

@media (max-width: $breakpointMobile) {
  .p-works-list {
    &-mv {
      h1 {
        font-size: 38px;
      }
    }
    &-cards {
      h2 {
        font-size: 20px;
      }
      ul {
        grid-template-columns: 1fr;
        li {
          max-width: 380px;
          margin-bottom: 20px;
          a {
            font-size: 16px;
            margin-top: 17px;
            img {
            }
          }
          p {
            font-size: 16px;
            padding: 8px 12px;
            margin: 12px 0 8px;
          }
        }
      }
    }
  }
}
/* ------------------- 制作実績一覧ここまで ------------------- */

/* ------------------- 制作実績詳細ここから ------------------- */
.p-works-detail {
  &-mv {
    h1 {
      color: #000;
      font-size: 38px;
      font-weight: 400;
      line-height: normal;
    }
  }
  &-fv {
    &__wrapper {
      width: fit-content;
      margin: 5rem auto;
    }
    &__images {
      display: flex;
      align-items: baseline;
      > img {
        max-width: 140px;
        object-fit: contain;
        margin-right: 20px;
      }
      div {
        img {
          max-width: 700px;
          border-radius: 10px;
          position: relative;
          aspect-ratio: 16/9;
          object-fit: cover;
        }
      }
    }
    a {
      color: #fff;
      font-family: 'Inter Variable', sans-serif;
      font-style: normal;
      font-size: 16px;
      font-weight: 400;
      line-height: normal;
      text-decoration-line: underline;
      display: flex;
      align-items: center;
      background: rgba(81, 142, 242, 0.6);
      width: fit-content;
      padding: 4px 24px;
      border-radius: 10px;
      /* &::before {
        content: '';
        background-image: url('/assets/images/External_Link.svg');
        width: 17px;
        height: 17px;
        margin-right: 5px;
      } */
    }
  }
  @media (max-width: $breakpointMobile) {
    &-fv {
      &__wrapper {
        margin: 5rem auto;
      }
      &__images {
        > img {
          max-width: 44px;
        }
        div {
          img {
            max-width: 220px;
          }
        }
      }
      a {
        font-size: 16px;
        padding: 4px 24px;
      }
    }
  }
  &-contributors {
    h2 {
      color: #518ef2;
      font-size: 38px;
      font-weight: 700;
      line-height: normal;
      text-align: center;
    }
    ul {
      margin-top: 110px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      li {
        max-width: 350px;
        > p {
          margin-top: 27px;
          color: #222;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 172.3%; /* 27.568px */
        }
      }
    }
    &__profile {
      display: flex;
      img {
        border-radius: 50px;
        aspect-ratio: 1/1;
        object-fit: cover;
      }
      &__detail {
        margin-top: 28px;
        margin-left: 17px;
        p {
          color: #000;
          font-family: 'Inter Variable', sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        h3 {
          color: #000;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }
  @media (max-width: $breakpointMobile) {
    &-contributors {
      h2 {
        font-size: 20px;
      }
      ul {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 1fr;
        li {
          max-width: 350px;
          margin-bottom: 50px;
          > p {
            margin-top: 27px;
            font-size: 16px;
            font-weight: 500;
          }
        }
      }
      &__profile {
        img {
        }
        &__detail {
          margin-top: 28px;
          margin-left: 17px;
          p {
            font-size: 16px;
          }
          h3 {
            font-size: 16px;
          }
        }
      }
    }
  }
  &-other-works {
    h2 {
      color: #518ef2;
      font-size: 38px;
      font-weight: 700;
      line-height: normal;
      text-align: center;
    }
  }
  @media (max-width: $breakpointMobile) {
    &-other-works {
      h2 {
        font-size: 20px;
      }
    }
  }
}
/* ------------------- 制作実績詳細ここまで ------------------- */
/* ------------------- footerここから ------------------- */
footer {
  background-color: #518ef2cc;
}

.flexname {
  display: flex;
}

.flexbox-top {
  display: flex;
  justify-content: center;
  padding-top: 4%;
  &__buttonwrapper {
    padding-left: 1%;
    padding-right: 1%;
    p {
      color: white;
    }
    a {
      color: white;
      text-decoration: underline 1px solid;
    }
  }
}

.flexbox-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  p {
    font-size: 200%;
  }
  img {
    padding-top: 4%;
    padding-bottom: 4%;
    width: 300px;
    height: 250px;
  }
}
/* ------------------- footerここまで ------------------- */
