@charset "UTF-8";
@use './variables' as *;

/* ------------------- 共通要素ここから ------------------- */
$breakpointMobile: 767px;

.l-container {
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 15px;
}

p,
a,
h1,
h2,
h3,
h4,
h5 {
  color: $defaultColor;
  font-style: normal;
  line-height: 172.3%; /* 24.122px */
  font-weight: 400;
}
p,
a {
  font-family: 'Noto Sans JP Variable', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Inter Variable', sans-serif;
}

section {
  padding: 20px 0;
}

.hover {
  &__opacity {
    transition: 0.3s all;
    &:hover {
      opacity: 0.6;
      transition: 0.3s all;
    }
  }
  &__underline {
    position: relative;
    &::after {
      position: absolute;
      left: 0;
      content: '';
      width: 100%;
      height: 2px;
      background: #518ef2;
      bottom: -2px;
      transform: scale(0, 1);
      transform-origin: right top;
      transition: transform 0.2s;
    }
    &:hover::after {
      transform: scale(1, 1); /*ホバー後、x軸方向に1（相対値）伸長*/
      transform-origin: left top; /*左から右に向かう*/
    }
  }
  &__thick {
    &:hover {
      font-weight: 900;
    }
  }
  &__scale {
    transition: transform 0.5s ease;
    &:hover {
      transform: scale(1.2);
    }
  }
}

.web-team {
  &__header {
    height: 109px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    &__logo {
      display: block;
    }
    img {
      width: 250px;
      object-fit: contain;
      margin-left: 22px;
      display: block;
    }
    nav {
      display: flex;
      align-items: center;
      ul {
        display: flex;
        li {
          margin: 0 15px;
          a {
            color: $defaultColor;
            font-family: 'Inter Variable', sans-serif;
            font-size: 18px;
            font-weight: 400;
          }
        }
      }
    }
    &__blocks {
      display: flex;
    }
    &__cta {
      a {
        display: block;
        width: 147px;
        height: 111px;
        padding-top: 40px;
        background-color: #f2b551;
        transition: 0.3s all;
        &:hover {
          opacity: 0.6;
          transition: 0.3s all;
        }
        p {
          color: #fff;
          font-family: 'Inter Variable', sans-serif;
          font-size: 18px;
          text-align: center;
        }
      }
    }
    &__contact {
      a {
        display: block;
        width: 147px;
        height: 111px;
        padding-top: 40px;
        background-color: #518ef2;
        transition: 0.3s all;
        &:hover {
          opacity: 0.6;
          transition: 0.3s all;
        }
        p {
          color: #fff;
          font-size: 18px;
          font-family: 'Inter Variable', sans-serif;
          font-weight: 400;
          text-align: center;
        }
      }
    }
  }
  @media (max-width: $breakpoint-md) {
    &__header {
      display: none;
    }
  }

  &__sp-header {
    display: none;
  }
  @media (max-width: $breakpoint-md) {
    &__sp-header {
      display: block;
      position: sticky;
      top: 0;
      z-index: 1000;
      nav {
        height: 45px;
        position: relative;
      }
      img {
        width: fit-content;
        height: 20px;
        object-fit: contain;
      }
      button {
        position: absolute;
        top: 2px;
        right: 2px;
      }
    }
  }

  &__mv {
    height: 370px;
    position: relative;
    &__bg {
      position: absolute;
      height: 370px;
      width: 100%;
      opacity: 0.3;
      z-index: -10;
      img {
        width: 100%;
        height: 370px;
        object-fit: cover;
      }
    }
    ul {
      position: absolute;
      width: fit-content;
      max-width: 93%;
      top: 10px;
      left: 21px;
      padding: 7px;
      display: flex;
      background-color: #518ef299;
      overflow-x: scroll;
      li {
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        display: flex;
        &::before {
          content: '>';
          display: inline-block;
          margin: 0 10px;
        }
        &:first-child {
          &::before {
            content: '';
            margin: 0;
          }
        }
        a {
          display: block;
          white-space: nowrap;
          color: #fff;
          font-family: 'Inter Variable', sans-serif;
          &:hover {
            color: #518ef2;
            transition: all 0.5s 0s ease;
          }
        }
      }
    }
    h1 {
      color: #518ef2;
      font-family: 'Heebo Variable', sans-serif;
      font-style: italic;
      font-size: 48px;
      font-weight: 700;
      position: absolute;
      top: 176px;
      background-color: #fff;
      min-width: 719px;
      text-align: center;
      padding: 0 24px;
      line-height: 1.8;
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 87px;
        background-color: #518ef2;
        left: 14px;
        top: 14px;
        z-index: -1;
      }
    }
  }
  @media (max-width: $breakpoint-md) {
    &__mv {
      height: 196px;
      position: relative;
      &__bg {
        img {
          height: 196px;
        }
      }
      ul {
        top: 8px;
        left: 13px;
        padding: 3px;
        li {
          font-size: 10px;
          &::before {
            margin: 0 10px;
          }
          &:first-child {
            &::before {
            }
          }
          a {
            &:hover {
            }
          }
        }
      }
      h1 {
        font-size: 20px;
        top: 103px;
        min-width: 171px;
        padding: 0 24px;
        line-height: 1.8;
        &::after {
          height: 35px;
          left: 4px;
          top: 4px;
        }
      }
    }
  }

  &__button {
    display: block;
    width: fit-content;
    height: 47px;
    text-align: center;
    padding: 8px 25px 0 25px;
    margin: 0 auto;
    flex-shrink: 0;
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 172.3%; /* 31.014px */
    &.--yellow {
      background-color: #f2b551;
    }
    &.--blue {
      background-color: #518ef2;
    }
  }

  &__work-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
    column-gap: 30px;
    place-items: center;
    li {
      max-width: 380px;
      a {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        img {
          aspect-ratio: 16 / 9;
          object-fit: cover;
        }
      }
      p {
        color: #fff;
        font-family: 'Inter Variable', sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        border-radius: 30px;
        background: rgba(81, 142, 242, 0.6);
        width: fit-content;
        padding: 4px 10px;
        margin: 10px 0;
      }
    }
  }
  @media (max-width: $breakpoint-md) {
    &__work-card {
      grid-template-columns: 1fr;
      row-gap: 30px;
      li {
        max-width: 380px;
        a {
          font-size: 16px;
          margin-top: 17px;
          img {
          }
        }
        p {
          font-size: 12px;
          padding: 4px 10px;
          margin: 12px 0 8px;
        }
      }
    }
  }
}

/* ------------------- 共通要素ここまで ------------------- */
/* ------------------- Webチームブログここから ------------------- */
.pc-br {
  display: block;
}
.sp-br {
  display: none;
}

.pc-none {
  display: none;
}

.sp-none {
  display: block;
}

.p-topblog {
  margin-bottom: 5%;
  &__backimg {
    z-index: -99;
    overflow: hidden;
    position: relative;
    background-image: url('@/assets/images/topbackground.webp');
    background-size: cover;
    height: 624px;
    margin-bottom: 5%;
    &__wrapper {
      width: 39%;
      height: 14%;
      background-color: white;
      z-index: 4;
      position: absolute;
      top: 50%;
    }
    h1 {
      font-size: 48px;
      font-weight: 400;
      background-color: white;
      position: absolute;
      font-style: italic;
      color: #518ef2;
      z-index: 5;
    }
    &__topimagecenter {
      width: 100%;
      height: 100%;
      transform: skewX(20deg) scale(2.5);
    }
    &__topimageright {
      width: 100%;
      height: 100%;
      transform: skewX(20deg) scale(1.5);
    }
  }

  &__flexbox {
    display: flex;
    justify-content: space-around;
    h1 {
      font-size: 40px;
      font-weight: 600;
      color: #518ef2;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 1%;
      margin-right: 1%;
    }
    p {
      margin-top: 4%;
      font-size: 16px;
      font-weight: 500;
    }
    img {
      height: 340px;
      width: 500px;
      margin-left: 2%;
      box-shadow: #518ef2 25px 25px;
    }
  }
  h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    color: #518ef2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__updateview {
    margin-top: 5%;
    margin-bottom: 5%;
    &__wrappercards {
      margin-bottom: 5%;
      &__card {
        padding-bottom: 2%;
        width: 90%;
        margin: 0 auto;
        border-bottom: 1px solid #929292;
        &__date {
          padding-bottom: 1%;
          font-weight: 400;
          font-size: 16px;
        }
        &__txt {
          padding-top: 1%;
          color: #424aff;
          font-weight: 400;
          font-size: 16px;
        }
      }
      &__buttonwrapper {
        margin: 10% auto;
      }
    }
  }
}

.p-topblog__flexbox__txtwrapper__ttl::before {
  position: absolute;
  content: '';
  height: 2px;
  flex-grow: 1;
  width: 62%;
  background-color: #518ef2;
  left: -65%;
  margin-right: 15px;
}

.p-topblog__flexbox__txtwrapper__ttl::after {
  content: '';
  height: 1px;
  flex-grow: 1;
  background-color: white;
  margin-left: 15px;
}

.p-topblog__updateview__ttl::before {
  content: '';
  height: 1px;
  flex-grow: 1;
  background-color: #518ef2;
}
.p-topblog__updateview__ttl::after {
  content: '';
  height: 1px;
  flex-grow: 1;
  background-color: #518ef2;
}

.p-topblog__updateview__ttl::before {
  margin-right: 2%;
}
.p-topblog__updateview__ttl::after {
  margin-left: 2%;
}

.p-topblog__backimg__topimagecenterwrapper {
  width: 400px;
  height: 550px;
  position: absolute;
  transform: skewX(-20deg);
  overflow: hidden;
  top: 5%;
  left: 32%;
  z-index: -5;
  display: inline-block;
  box-shadow: white 20px 50px;
}

.p-topblog__backimg__topimagerightwrapper {
  width: 500px; //画像引き延ばしの件直す
  height: 550px;
  position: absolute;
  transform: skewX(-20deg);
  overflow: hidden;
  top: 1%;
  left: 60%;
  z-index: -5;
  display: inline-block;
  box-shadow: #518ef299 22px 50px;
}

@media screen and (max-width: $breakpointMobile) {
  .pc-br {
    display: none;
  }
  .sp-br {
    display: block;
  }

  .sp-none {
    display: none;
  }

  .pc-none {
    display: block;
  }

  .p-topblog {
    //background-color: red;
    margin-bottom: 5%;
    &__backimg {
      z-index: -99;
      position: relative;
      overflow: hidden;
      background-image: url('@/assets/images/topbackground.webp');
      background-size: cover;
      height: 441px;
      margin-bottom: 5%;
      &__wrapper {
        width: 85%;
        height: 9%;
        background-color: white;
        z-index: 4;
        position: absolute;
        top: 75%;
      }
      h1 {
        margin: 0 auto;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        background-color: white;
        position: absolute;
        color: #518ef2;
        z-index: 5;
        transform: skewX(-20deg);
      }
      &__topimagecenter {
        width: 100%;
        height: 100%;
        transform: skewX(20deg) scale(2.5);
        overflow: hidden;
      }
      &__topimageright {
        width: 100%;
        height: 100%;
        transform: skewX(20deg) scale(1.5);
        overflow: hidden;
      }
    }

    &__flexbox {
      h1 {
        font-size: 20px;
        font-weight: 600;
        color: #518ef2;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 1%;
        margin-right: 1%;
      }
      p {
        margin-top: 4%;
        font-size: 16px;
        font-weight: 500;
      }
      img {
        height: 187px;
        width: 263px;
        margin-left: 2%;
        box-shadow: #518ef2 12px 11px;
        padding: 3% auto;
      }
    }
    h2 {
      text-align: center;
      font-size: 20px;
      font-weight: 100;
      color: #518ef2;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__updateview {
      margin-top: 5%;
      &__wrappercards {
        margin-bottom: 5%;
        &__card {
          padding-bottom: 2%;
          width: 90%;
          margin: 0 auto;
          border-bottom: 1px solid #929292;
          &__date {
            padding-bottom: 1%;
            font-weight: 400;
            font-size: 16px;
          }
          &__txt {
            padding-top: 1%;
            color: #424aff;
            font-weight: 400;
            font-size: 16px;
          }
        }
      }
    }
  }

  .p-topblog__flexbox__txtwrapper__ttl::before {
    position: absolute;
    content: '';
    height: 1px;
    flex-grow: 1;
    background-color: #518ef2;
    width: 46%;
    left: -25%;
  }

  .p-topblog__flexbox__txtwrapper__ttl::after {
    position: absolute;
    content: '';
    height: 1px;
    flex-grow: 1;
    background-color: #518ef2;
    width: 41%;
    left: 74%;
  }

  .p-topblog__flexbox__txtwrapper__ttl::before {
    margin-right: 15px;
  }

  .p-topblog__flexbox__txtwrapper__ttl::after {
    margin-left: 15px;
  }

  .p-topblog__updateview__ttl::before {
    content: '';
    height: 1px;
    flex-grow: 1;
    background-color: #518ef2;
  }
  .p-topblog__updateview__ttl::after {
    content: '';
    height: 1px;
    flex-grow: 1;
    background-color: #518ef2;
  }

  .p-topblog__updateview__ttl::before {
    margin-right: 2%;
  }
  .p-topblog__updateview__ttl::after {
    margin-left: 2%;
  }

  .p-topblog__backimg__topimagecenterwrapper {
    width: 130px;
    height: 202px;
    position: absolute;
    transform: skewX(-20deg);
    overflow: hidden;
    top: 47%;
    left: -3%;
    z-index: -5;
    display: inline-block;
    box-shadow: white 11px 16px;
  }

  .p-topblog__backimg__topimagerightwrapper {
    width: 228px; //画像引き延ばしの件直す
    height: 268px;
    position: absolute;
    transform: skewX(-20deg);
    overflow: hidden;
    top: 4%;
    left: 45%;
    z-index: -5;
    display: inline-block;
    box-shadow: #518ef299 25px 20px; //画面外に出ないように
  }
}
/* ------------------- topblogここまで ------------------- */
/* ------------------- activitiesここから ------------------- */

.activities {
  overflow: hidden;
}

.activities__wrapper {
  margin: 0 auto;
  width: 95%;
  &__ttl {
    display: flex;
    justify-content: space-between;
    h3 {
      font-size: 40px;
      font-weight: 600;
      color: #518ef2;
    }
    p {
      font-size: 90px;
      font-weight: 500;
      color: #518ef2;
    }
  }
}

.activities__topcard {
  display: flex;
  justify-content: space-around;
  align-items: stretch;

  &_txtwrapper {
    position: relative;
    &__txt {
      font-weight: 500;
      font-size: 16px;
    }
  }
}

.activities__topcardttl {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 2%;
  margin-right: 1%;
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
}

.activities__topcardttl::before {
  position: absolute;
  content: '';
  height: 1px;
  flex-grow: 1;
  background-color: #518ef2;
  width: 10%;
  left: -10%;
}
.activities__topcardttl::after {
  position: absolute;
  content: '';
  height: 1px;
  flex-grow: 1;
  background-color: #518ef2;
  width: 40%;
  left: 29%;
}

@media screen and (max-width: $breakpoint-md) {
  .activities__topcard {
    display: none;
    align-items: center;
    &_txtwrapper {
      text-align: center;
      position: relative;
      &__txt {
        font-weight: 500;
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-md) {
  .activities__topcardttl {
    font-weight: 400;
    font-size: 18px;
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
  }
  .activities__topcardttl::before {
    display: none;
    position: absolute;
    content: '';
    height: 1px;
    flex-grow: 1;
    background-color: #518ef2;
  }
  .activities__topcardttl::after {
    display: none;
    position: absolute;
    content: '';
    height: 1px;
    flex-grow: 1;
    background-color: #518ef2;
  }
}

.middlecardnumber {
  position: absolute;
  font-size: 90px;
  font-weight: 500;
  color: #518ef2;
  top: -50%;
  left: 2%;
}

.activities__middlecard__flexbox {
  position: relative;
  display: flex;
  margin-top: 10%;
  margin-bottom: 10%;
  justify-content: space-around;
  &__imgwrapper {
    margin-top: 3%;
    &__up {
      display: flex;
      justify-content: space-around;
      margin-bottom: 5%;
      width: 100%;
      img {
        margin-left: 1%;
        margin-right: 1%;
      }
    }
    &__down {
      margin-top: 5%;
      display: flex;
      justify-content: space-around;
      img {
        margin-left: 20%;
      }
    }
  }
  &__ttl {
    position: relative;
    font-size: 30px;
    font-weight: 400;
    display: flex;
    align-items: center;
    width: 100%;
  }
  &__txt {
    margin-top: 2%;
    font-weight: 500;
    font-size: 16px;
  }
}

.activities__middlecard__flexbox__ttl::before {
  position: absolute;
  content: '';
  height: 1px;
  flex-grow: 1;
  background-color: #518ef2;
  margin-left: 1%;
  text-align: right;
  width: 35%;
  left: -37%;
}

.activities__middlecard__flexbox__ttl::after {
  position: absolute;
  content: '';
  height: 1px;
  flex-grow: 1;
  background-color: #518ef2;
  margin-left: 1%;
  text-align: left;
  width: 82%;
  left: 38%;
}

@media screen and (max-width: $breakpoint-md) {
  .activities__middlecard__flexbox {
    position: relative;
    display: none;
    display: flex;
    margin-top: 10%;
    margin-bottom: 10%;
    justify-content: space-around;
    text-align: center;
    &__imgwrapper {
      margin-top: 3%;
      &__up {
        display: flex;
        justify-content: space-around;
        margin-bottom: 5%;
        width: 100%;
        img {
          margin-left: 1%;
          margin-right: 1%;
        }
      }
      &__down {
        margin-top: 5%;
        display: flex;
        justify-content: space-around;
        img {
          margin-left: 20%;
        }
      }
    }
    &__ttl {
      position: relative;
      font-size: 30px;
      font-weight: 400;
      display: flex;
      align-items: center;
    }
    &__txt {
      margin-top: 2%;
      font-weight: 500;
      font-size: 16px;
    }
  }
}

.bottomcardnumber {
  position: absolute;
  font-size: 90px;
  font-weight: 500;
  color: #518ef2;
  text-align: right;
  top: -25%;
  left: 87%;
}

.activities__bottomcard {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding-bottom: 5%;
  &__cardttl {
    position: relative;
    padding-bottom: 5%;
    font-weight: 400;
    font-size: 30px;
    display: flex;
    align-items: center;
    width: 120%;
  }
  &__txt {
    font-weight: 500;
    font-size: 16px;
  }
  &__imgwrapper {
    img {
      width: 360px;
      height: 250px;
    }
  }
  &__triangle-button__wrapper {
    text-align: right;
    padding-top: 10%;
  }
}

.activities__bottomcard__cardttl::before {
  position: absolute;
  content: '';
  height: 1px;
  flex-grow: 1;
  width: 20%;
  background-color: #518ef2;

  left: -21%;
}

.activities__bottomcard__cardttl::after {
  position: absolute;
  content: '';
  height: 1px;
  flex-grow: 1;
  width: 74%;
  background-color: #518ef2;
  left: 42%;
  z-index: -1;
}

.activities__bottomcard__cardttl::before {
  margin-right: 1%;
}

.activities__bottomcard__cardttl::after {
  margin-left: 1%;
}

.triangle-button__blue {
  position: relative;
  padding: 0px 0px 0px 1em;
  font-weight: 500;
  font-size: 15px;
}

.triangle-button__white {
  position: relative;
  padding: 0px 0px 0px 1em;
  font-weight: 500;
  font-size: 15px;
}
@media screen and (max-width: $breakpoint-md) {
  .triangle-button__white {
    position: relative;
    padding: 0px 0px 0px 1em;
    font-weight: 500;
    font-size: 15px;
  }
}

.triangle-button__blue::before {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  width: 0px;
  height: 0px;
  border: 0.3em solid transparent;
  border-left: 0.4em solid #518ef2;
  content: '';
}

.triangle-button__white::before {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  width: 0px;
  height: 0px;
  border: 0.3em solid transparent;
  border-left: 0.4em solid red;
  content: '';
}

.activities__flexbox__imgwrapper {
  display: flex;
  width: 45%;
  margin-left: 4%;
  &__row {
    display: row;
  }
  &__triangle-button__wrapper {
    padding-top: 32%;
  }
}

@media screen and (max-width: $breakpoint-md) {
  .activities__flexbox__imgwrapper__triangle-button__wrapper {
    display: none;
  }
}

@media screen and (max-width: $breakpoint-md) {
  .triangle-button__wrapper {
    padding-top: 100%;
    color: #518ef2;
  }
}

@media screen and (max-width: $breakpoint-md) {
  .activities__wrapper__topbox {
    background-color: #518ef299;
    text-align: center;
    &__imgwrapper {
      display: flex;
      justify-content: center;
      &__PC-img {
        width: 191px;
        height: 120px;
        padding-right: 5%;
        padding-top: 1%;
      }
      &__SP-img {
        width: 68px;
        height: 138px;
        padding-top: 0;
      }
    }
  }
}

.PC-img {
  width: 387px;
  height: 200px;
  padding-right: 5%;
  padding-top: 1%;
}

.SP-img {
  width: 140px;
  height: 250px;
  padding-top: 0;
}

@media screen and (max-width: $breakpoint-md) {
  .activities__wrapper {
    margin: 0 auto;
    width: 100%;
    &__ttl {
      text-align: center;
      h3 {
        margin: 0 auto;
        font-size: 20px;
        font-weight: 600;
        color: #518ef2;
      }
      p {
        margin: 0 auto;
        font-size: 16px;
        font-weight: 500;
        color: #518ef2;
      }
    }
  }
}
.activities__topcard {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  &__txt {
    font-weight: 500;
    font-size: 83%;
  }
}

.activities__topcard__txtwrapper {
  position: relative;
}

.activities__topcardttl {
  font-weight: 400;
  font-size: 140%;
  margin-bottom: 2%;
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
}

.activities__topcardttl::before {
  position: absolute;
  content: '';
  height: 1px;
  flex-grow: 1;
  background-color: #518ef2;
  width: 50%;
  left: -51%;
}
.activities__topcardttl::after {
  position: absolute;
  content: '';
  height: 1px;
  flex-grow: 1;
  background-color: #518ef2;
  width: 90%;
  left: 20%;
}

.activities__topcardttl::after {
  margin-left: 3%;
}

.middlecardnumber {
  position: absolute;
  font-size: 50px;
  font-weight: 500;
  color: #518ef2;
  top: -50%;
  left: 2%;
}

.activities__middlecard__flexbox {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 10%;
  margin-bottom: 10%;
  justify-content: space-around;
  &__imgwrapper {
    &__up {
      display: flex;
      justify-content: space-around;
      margin-bottom: 5%;
      width: 120%;
      img {
        margin-left: 1%;
        margin-right: 1%;
      }
    }
    &__down {
      margin-top: 5%;
      display: flex;
      justify-content: space-around;
      img {
        margin-left: 20%;
      }
    }
  }
  &__ttl {
    position: absolute;
    top: -30%;
    left: 0%;
    font-size: 150%;
    font-weight: 400;
    display: flex;
    align-items: center;
    width: 120%;
  }
  &__txt {
    margin-top: 2%;
    font-weight: 500;
    font-size: 83%;
  }
}

.activities__middlecard__flexbox__ttl::before {
  content: '';
  height: 1px;
  flex-grow: 1;
  width: 20%;
  background-color: #518ef2;
}

.activities__middlecard__flexbox__ttl::after {
  content: '';
  height: 1px;
  flex-grow: 2;
  width: 10%;
  background-color: #518ef2;
}

.activities__middlecard__flexbox__ttl::before {
  margin-right: 1%;
}

.activities__middlecard__flexbox__ttl::after {
  margin-left: 1%;
}

.bottomcardnumber {
  position: absolute;
  font-size: 50px;
  font-weight: 500;
  color: #518ef2;
  text-align: right;
  top: -20%;
  left: 93%;
}

.activities__bottomcard {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding-bottom: 5%;
  &__cardttl {
    position: relative;
    padding-bottom: 5%;
    font-weight: 400;
    font-size: 150%;
    display: flex;
    align-items: center;
    width: 120%;
  }
  &__txt {
    font-weight: 500;
    font-size: 83%;
  }
  img {
    width: 390px;
    height: 250px;
    margin-left: 5%;
  }
  &__triangle-button__wrapper {
    text-align: right;
    padding-top: 10%;
  }
}

.activities__bottomcard__cardttl::before {
  content: '';
  height: 1px;
  flex-grow: 1;
  width: 10%;
  background-color: #518ef2;
  position: absolute;
  left: -11%;
}

.activities__bottomcard__cardttl::after {
  content: '';
  height: 1px;
  flex-grow: 2;
  width: 5%;
  background-color: #518ef2;
}

.activities__bottomcard__cardttl::before {
  margin-right: 1%;
}

.activities__bottomcard__cardttl::after {
  margin-left: 1%;
}

.triangle-button__wrapper {
  text-align: right;
  padding-top: 5%;
  position: absolute;
  bottom: 0;
  left: 84%;
}

.triangle-button__blue {
  position: relative;
  padding: 0px 0px 0px 1em;
  font-weight: 500;
  font-size: 15px;
}

.triangle-button__white {
  position: relative;
  padding: 0px 0px 0px 1em;
  font-weight: 500;
  font-size: 15px;
}

.triangle-button__blue::before {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  width: 0px;
  height: 0px;
  border: 0.3em solid transparent;
  border-left: 0.4em solid #518ef2;
  content: '';
}

.triangle-button__white::before {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  width: 0px;
  height: 0px;
  border: 0.3em solid transparent;
  border-left: 0.4em solid red;
  content: '';
}

.PC-img {
  width: 387px;
  height: 200px;
  padding-right: 5%;
  padding-top: 1%;
}

.SP-img {
  width: 140px;
  height: 250px;
  padding-top: 0;
}

.CSS-img {
  width: 122px;
  height: 176px;
}
.HTML-img {
  width: 170px;
  height: 173px;
}
.Flask-img {
  width: 150px;
  height: 112px;
}
.three-img {
  width: 185px;
  height: 100px;
}
.astro-img {
  width: 200px;
  height: 66px;
}

@media screen and (max-width: $breakpoint-md) {
  .CSS-img {
    width: 53px;
    height: 70px;
  }
  .HTML-img {
    width: 69px;
    height: 70px;
  }
  .Flask-img {
    width: 87px;
    height: 66px;
  }
  .three-img {
    width: 105px;
    height: 57px;
  }
  .astro-img {
    width: 112px;
    height: 37px;
  }
}

@media screen and (max-width: $breakpoint-md) {
  .triangle-button__wrapper {
    margin-top: 10%;
    padding-top: 10%;
    position: absolute;
    top: 90%;
    left: 50%;
  }
  .activities__topcard__txtwrapper {
    display: flex;
    flex-direction: column;
  }
  .activities__topcardttl {
    margin: 0 auto;
  }
  .activities__middlecard__flexbox {
    position: static !important;
    flex-direction: column;
    &__imgwrapper {
      background-color: #518ef299;
      margin-top: 10%;
      padding-top: 5%;
      padding-bottom: 5%;
    }
  }
}
/* ------------------- activitiesここまで------------------- */
/* ------------------- teamcharacteristicここから ------------------- */

.p-teamcharacteristic {
  background-image: url('/src/assets/images/bg1.webp');
  //修正必要
  margin-bottom: 5%;
  h4 {
    display: inline;
    background-color: #518ef2;
    font-weight: 400;
    font-size: 40px;
    color: white;
    padding: 0 1%;
    margin-left: 5%;
  }
}

.p-teamcharacteristic__cardwrapper {
  display: flex;
  justify-content: center;
  &__card {
    position: relative;
    width: 30%;
    height: 401px;
    margin-right: 2%;
    margin-left: 2%;
    box-shadow: 30px 30px #518ef299;
    &__number {
      position: absolute;
      font-weight: 400;
      font-size: 120%;
      background-color: #518ef2;
      width: 50px;
      height: 50px;
      top: -10%;
      left: -5%;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        font-weight: 500;
        font-size: 16px;
        color: white;
      }
    }
    img {
      margin: 0 auto;
      width: 100px;
      width: 100px;
    }
    &__ttl {
      text-align: center;
      color: #518ef2;
      font-weight: 600;
      font-size: 22px;
    }
    &__txt {
      font-weight: 500;
      font-size: 16px;
      padding-left: 5%;
      padding-right: 5%;
    }
  }
}

@media screen and (max-width: $breakpoint-md) {
  .p-teamcharacteristic {
    margin-bottom: 5%;
    text-align: center;
    h4 {
      display: inline;
      background-color: #518ef2;
      font-weight: 400;
      font-size: 20px;
      color: white;
      padding: 0 1%;
      margin-left: 5%;
    }
  }

  .p-teamcharacteristic__cardwrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    &__card {
      position: relative;
      width: 248px;
      height: 490px;
      margin-right: 2%;
      margin-left: 2%;
      margin-bottom: 15%;
      box-shadow: 20px 20px #518ef299;
      &__number {
        position: absolute;
        font-weight: 200;
        font-size: 30px;
        background-color: #518ef2;
        width: 53px;
        height: 53px;
        top: -5%;
        left: -5%;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          color: white;
        }
      }
      img {
        margin: 10% auto;
        width: 76px;
        width: 76px;
      }
      &__ttl {
        color: #518ef2;
        font-weight: 500;
        font-size: 18px;
        margin-top: 3%;
        margin-bottom: 8%;
      }
      &__txt {
        font-weight: 500;
        font-size: 16px;
        padding-left: 5%;
        padding-right: 5%;
      }
    }
  }
}

.left {
  margin-top: 13%;
}

.center {
  margin-top: 8%;
}

.right {
  margin-top: 3%;
}

/* ------------------- teamcharacteristicここまで ------------------- */
/* ------------------- scheduleここから------------------- */
.p-schedule__ttl {
  font-size: 150%;
  font-weight: 400;
  color: #518ef2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-schedule__ttl::before {
  content: '';
  height: 1px;
  flex-grow: 1;
  background-color: #518ef2;
}

.p-schedule__ttl::after {
  content: '';
  height: 1px;
  flex-grow: 1;
  background-color: #518ef2;
}

.p-schedule__ttl::before {
  margin-left: 1%;
}

.p-schedule__ttl::after {
  margin-right: 1%;
}
/* ------------------- scheduleここまで------------------- */
/* ------------------- bloglistここから ------------------- */
.p-blogList {
  h6 {
    color: white;
    background-color: #518ef2;
    box-shadow: 10px 10px #c5deff;
    display: inline;
    width: 50%;
    height: 20%;
    font-weight: 600;
    font-size: 40px;
  }
  &__wrapper {
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__card {
    display: block;
    width: 330px;
    height: 462px;
    border: #518ef2 1px solid;
    &__text {
      padding: 7px;
    }
    img {
      aspect-ratio: 16/9;
      object-fit: cover;
    }
    h5 {
      font-size: 14px;
      line-height: 172.3%; /* 24.122px */
    }
    h4 {
      font-size: 18px;
      line-height: 172.3%; /* 31.014px */
    }
    p {
      color: #222;
      font-size: 16px;
      line-height: 172.3%; /* 27.568px */
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 7;
    }
  }
}

@media screen and (max-width: $breakpoint-md) {
  .p-blogList {
    align-items: center;
  }
}
/* ------------------- Webチームブログここまで ------------------- */

/* ------------------- 制作実績セクションここから ------------------- */
/* ------------------- 制作実績セクションここまで ------------------- */

/* ------------------- 制作実績一覧ここから ------------------- */
.p-works-list {
  &-cards {
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      place-items: center;
      li {
        max-width: 380px;
        a {
          color: #000;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-top: 17px;
          img {
            aspect-ratio: 16 / 9;
            object-fit: cover;
          }
        }
        p {
          color: #fff;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          border-radius: 30px;
          background: rgba(81, 142, 242, 0.6);
          width: fit-content;
          padding: 8px 12px;
          margin-top: 10px;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-md) {
  .p-works-list {
    &-cards {
      ul {
        grid-template-columns: 1fr;
        li {
          max-width: 380px;
          margin-bottom: 20px;
          a {
            font-size: 16px;
            margin-top: 17px;
            img {
            }
          }
          p {
            font-size: 16px;
            padding: 8px 12px;
            margin: 12px 0 8px;
          }
        }
      }
    }
  }
}
/* ------------------- 制作実績一覧ここまで ------------------- */

/* ------------------- 制作実績詳細ここから ------------------- */
.p-works-detail {
  &-fv {
    &__wrapper {
      width: fit-content;
      margin: 0 auto;
    }
    &__images {
      display: flex;
      align-items: baseline;
      > img {
        max-width: 140px;
        object-fit: contain;
        margin-right: 20px;
      }
      div {
        img {
          max-width: 700px;
          border-radius: 10px;
          position: relative;
          aspect-ratio: 16/9;
          object-fit: cover;
        }
      }
    }
    &__links {
      display: flex;
      align-items: center;
      margin-top: 65px;
      a:first-child {
        color: #fff;
        text-decoration-line: underline;
        background: rgba(81, 142, 242, 0.6);
        width: fit-content;
        height: fit-content;
        padding: 4px 24px;
        border-radius: 10px;
      }
      img {
        width: 40px;
        margin-left: 30px;
      }
    }
    @media (max-width: $breakpoint-lg) {
      &__wrapper {
      }
      &__images {
        > img {
          max-width: 15%;
        }
        div {
          max-width: 85%;
          img {
            max-width: 100%;
          }
        }
      }
      &__links {
        display: flex;
        align-items: center;
        margin-top: 25px;
        a:first-child {
          color: #518ef2;
          font-size: 10px;
          text-decoration-line: underline;
          padding: 0;
          background: initial;
        }
        img {
          width: 22px;
          margin-left: 20px;
        }
      }
    }
    &__table {
      display: flex;
      margin-bottom: 20px;
      &__wrapper {
        margin: 70px 0;
      }
      h4 {
        background: rgba(81, 142, 242, 0.6);
        color: #fff;
        padding: 12px 6px;
        min-width: 243px;
        position: relative;
        &::after {
          content: '';
          display: block;
          width: 10.6px;
          height: 15px;
          background-color: rgba(81, 142, 242, 0.6);
          clip-path: polygon(100% 50%, 0 0, 0 100%);
          flex-shrink: 0;
          position: absolute;
          right: -10.6px;
          top: 20px;
        }
      }
      p {
        background: #f0f0f0;
        padding: 12px 5px 12px 15px;
        width: -webkit-fill-available;
      }
    }
    @media (max-width: $breakpoint-md) {
      &__table {
        margin-bottom: 20px;
        &__wrapper {
          margin: 70px 0;
        }
        h4 {
          padding: 12px 6px;
          min-width: 90px;
          &::after {
            width: 10.6px;
            height: 15px;
            right: -10.6px;
            top: 20px;
          }
        }
        p {
          background: #f0f0f0;
          padding: 12px 5px 12px 15px;
          width: -webkit-fill-available;
        }
      }
    }
  }
  &-contributors {
    h2 {
      color: #518ef2;
      font-size: 38px;
      font-weight: 700;
      line-height: normal;
      text-align: center;
    }
    ul {
      margin-top: 110px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      li {
        max-width: 350px;
        > p {
          margin-top: 27px;
          color: #222;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 172.3%; /* 27.568px */
        }
      }
    }
    &__profile {
      display: flex;
      img {
        border-radius: 50px;
        aspect-ratio: 1/1;
        object-fit: cover;
      }
      &__detail {
        margin-top: 28px;
        margin-left: 17px;
        p {
          color: #000;
          font-family: 'Inter Variable', sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        h3 {
          color: #000;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }
  @media (max-width: $breakpoint-md) {
    &-contributors {
      h2 {
        font-size: 20px;
      }
      ul {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 1fr;
        li {
          max-width: 350px;
          margin-bottom: 50px;
          > p {
            margin-top: 27px;
            font-size: 16px;
            font-weight: 500;
          }
        }
      }
      &__profile {
        img {
        }
        &__detail {
          margin-top: 28px;
          margin-left: 17px;
          p {
            font-size: 16px;
          }
          h3 {
            font-size: 16px;
          }
        }
      }
    }
  }
  &-other-works {
    h2 {
      color: #518ef2;
      font-size: 38px;
      font-weight: 700;
      line-height: normal;
      text-align: center;
      margin-bottom: 75px;
    }
  }
  @media (max-width: $breakpoint-md) {
    &-other-works {
      h2 {
        font-size: 20px;
        margin-bottom: 57px;
      }
    }
  }
}
/* ------------------- 制作実績詳細ここまで ------------------- */
/* ------------------- footerここから ------------------- */
footer {
  background-color: #518ef2cc;
}

.flexname {
  display: flex;
}

.flexbox-top {
  display: flex;
  justify-content: center;
  padding-top: 4%;
  font-weight: 500;
  font-size: 16px;
  &__buttonwrapper {
    padding-left: 1%;
    padding-right: 1%;
    p {
      color: white;
    }
    a {
      color: white;
      text-decoration: underline 1px solid;
    }
  }
}

.flexbox-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  p {
    font-weight: 100;
    font-size: 40px;
  }
  img {
    padding-top: 4%;
    padding-bottom: 4%;
    width: 300px;
    height: 250px;
  }
}

@media screen and (max-width: $breakpointMobile) {
  .flexbox-top {
    display: flex;
    justify-content: center;
    padding-top: 4%;
    &__buttonwrapper {
      display: none;
      padding-left: 1%;
      padding-right: 1%;
      p {
        color: white;
      }
      a {
        color: white;
        text-decoration: underline 1px solid;
      }
    }
  }
  .flexbox-bottom {
    flex-direction: column;
    text-align: center;
    p {
      font-weight: 100;
      font-size: 20px;
    }
    img {
      padding-top: 4%;
      padding-bottom: 4%;
      width: 169px;
      height: 80px;
    }
  }
}

/* ------------------- footerここまで ------------------- */
