@charset "UTF-8";
@use './variables' as *;

.sub-page {
  h2 {
    color: #000;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    &::before {
      content: '';
      display: block;
      background-color: #518ef2;
      width: 6px;
      height: 48px;
      margin-right: 10px;
    }
  }
  @media (max-width: $breakpointMobile) {
    h2 {
      font-size: 20px;
      margin-bottom: 20px;
      &::before {
        width: 3px;
        height: 24px;
      }
    }
  }
  h3 {
    color: #000;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-bottom: #518EF2 3px solid;
    margin-bottom: 20px;
  }
  @media (max-width: $breakpointMobile) {
    h3 {
      font-size: 20px;
      border-bottom: #518EF2 2px solid;
      margin-bottom: 20px;
    }
  }
  p {
    margin-bottom: 20px;
  }
}
